@use 'sass:map';

@use '_core/mixins' as *;

$tablet: map.get($breakpoints, 'tablet') - 1;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--space-standard);

  width: 100%;
  height: var(--nav-height);
  padding: 0 var(--space-standard);

  position: fixed;
  bottom: 0;
  background: white;

  z-index: var(--z-nav);

  // Maintain functionality while container is locked
  pointer-events: all;
}

.num {
  width: 0.625em;
  display: inline-block;
  text-align: center;
}

.current {
  font-style: italic;
  text-decoration: underline;
}

@media (max-width: $tablet), (hover: none) {
  nav {
    top: 0;

    .navArtist {
      flex: 0 0 auto;
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .links {
      flex: 0 1 auto;
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .index,
  .threshold {
    display: none;
  }
}
